<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${'Name: ' + person.getName()}"></p>
<p th:text="${'Age: ' + person.getAge()}"></p>
<p th:text="${'Email: ' + person.getMail()}"></p>
<p th:text="${'Address: ' + person.getAddress()}"></p>
<p th:text="${'ID: ' + person.getId()}"></p>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="DELETE"/>
</form>
</body>
</html>